# Ignore everything
**

# Include
!/hack/osdeps.py
!/src/**
!/pytest.ini
!/requirements*
!/tox.ini
!/LICENSE
!/COPYRIGHT
!/TRADEMARK
!/hack/entrypoints/mcp-server-entrypoint.sh
!/hack/entrypoints/mcp-client-entrypoint.sh
!/hack/entrypoints/dashboard-entrypoint.sh

# Exclude
src/dashboard/frontend/node_modules
src/dashboard/src/media/js/build
**/*~
**/*.log
**/node_modules
**/Thumbs.db
