[submodule "hack/submodules/archivematica-storage-service"]
	path = hack/submodules/archivematica-storage-service
	url = git@github.com:universidadeaveiro/archivematica-storage-service.git
[submodule "hack/submodules/archivematica-sampledata"]
	path = hack/submodules/archivematica-sampledata
	url = git@github.com:universidadeaveiro/archivematica-sampledata.git
[submodule "hack/submodules/archivematica-acceptance-tests"]
	path = hack/submodules/archivematica-acceptance-tests
	url = git@github.com:universidadeaveiro/archivematica-acceptance-tests.git
