passlib==1.7.4
python-jose==3.3.0
mysqlclient==2.1.0
fastapi==0.65.1
sqlalchemy==1.4.18
uvloop==0.15.2
httptools==0.1.2
psycopg2-binary==2.9
python-multipart==0.0.5
uvicorn==0.15.0
PyYAML==6.0
boto3==1.21.6
requests==2.27.1
bcrypt==3.2.2
